*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.main-container{
    margin: 0 auto;
    width: 1700px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container{
    align-self: flex-start;
    margin-left: 250px;
}

.header-container h1{
    color: #CE5959;
    font-size: 30px;
    margin-left: 20px;
}

.first-container{
    width: 100%;
    width: 1700px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab-container{
    align-self: flex-start;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-container a{
    text-decoration: none;
    width: 170px;
    padding: 10px 0;
    padding-left: 30px;
    color: black;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.products{
    background-color: #F1B9B2;
}

.menu-container{
    width: 100%;
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
}

.menuHeader{
    align-self: flex-start;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
    color: #CE5959;
    border-bottom: 1px solid darkgray;
    display: block;
    width: 1380px;
}

.categoryHeader{
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
    color: #CE5959;
    font-weight: 550;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    width: 800px;
    margin: 10px 0;
}

.categories div{
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 150px;
    border-radius: 20px;
}

.categories img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0;
}

.categories h2{
    font-weight: 500;
    font-size: 20px;
    color: #CE5959;
}

.product-container{
    width: 100%;
    width: 1300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
    margin-bottom: 50px;
}

.product-container h1{
    text-align: center;
    color: #CE5959;
    margin: 20px 0;
    font-size: 28px;
}

.items-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.item-container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container{
    flex: 1 0 20%;
    background-color: whitesmoke;
    padding: 20px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 15px ;
    text-align: center;
    box-sizing: border-box;
}

.container div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container img{
    height: 150px;
    width: 170px;
}

.container h2{
    font-size: 18px;
    font-weight: 400;
}

.container div h2{
    margin-top: 2px;
    font-weight: 300;
    font-size: 14px;
}