*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.mainContainer{
    width: 100%;
    width: 1300px;
    margin: 0 auto;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    align-self: flex-start;
}

.header h1{
    color: #CE5959;
    font-size: 34px;
}

.first-container{
    width: 100%;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-container{
    width: 800px;
    height: 600px;
}

.form-container form{
    padding: 50px;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-top: 40px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FEFAF8;
}

.form-container > form > textarea{
    resize: none; /* Prevents resizing */

}

.inputs{
    padding: 10px;
    width: 500px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.submitBtn{
    align-self: flex-end;
    margin-right: 40px;
    padding: 10px 20px;
    background-color: #CE5959;
    border: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.submitBtn:hover{
    background-color: #ff5858;
    cursor: pointer;
}

.contactUs-container{
    width: 100%;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactUs-container h1{
    font-size: 40px;
    color: #CE5959;

}
.contactDetails-container{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid lightgray;
    padding: 20px;
    width: 400px;
    border-radius: 15px;
}

.contactDetails-container div{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.contactDetails-container h2{
    font-size: 30px;
    color: #CE5959;
}

.contactDetails-container h3{
    font-size: 20px;
    color: #CE5959;
    font-weight: 500;
}

.hotline img{
    width: 22px;
    height: 22px;
}

.email img{
    width: 25px;
    height: 25px;
}

.address img{
    width: 20px;
    height: 20px;
}

.message { 
    padding: 10px; 
    margin: 10px 0; 
    border-radius: 5px;
}

.success { 
    background: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
}

.error { 
    background: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
}

.message p { 
    margin: 0; 
    padding: 5px; 
}