*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}


.logo{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 220px;
    height: 200px;
}

.main-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
}

.intro-container h1{
    font-size: 35px;
    color: #CE5959;
}

.intro-container h3{
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    font-weight: 450;
}

.login-form-container{
    padding: 20px 30px;
    padding-bottom: 60px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px 0;
    background-color: #FEFAF8;
    width: 700px;
}

.login-form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.login-form-container label{
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    align-self: flex-start;
    margin-left: 128px;
}

.login-form-container input{
    border: 1px solid black;
    padding: 10px 0;
    width: 400px;
    border-radius: 5px;
    padding-left: 40px;
}

.login-form-container #email{
    background-image: url(../Images/Icon/email_icon.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 7px;
}

.login-form-container #password{
    background-image: url(../Images/Icon/password_icon.png);
    background-repeat: no-repeat;
    background-position: 11px;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 410px;
    margin-left: 40px;
}

.checkboxContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-bottom: 50px;
}

.checkboxContainer label{
    margin: 0;
    width: 200px;
    text-align: justify;
    white-space: nowrap;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 1px;
}

.signIn{
    margin: 20px 0;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-radius: 30px;
    background-color: #CE5959;
    color: white;
}

.signIn:hover{
    background-color: #ff5858;
    cursor: pointer;
}

.create-acc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 760px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #F1B9B2;
    height: 200px;
}

.createbtn{
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-radius: 25px;
    background-color: #CE5959;
    text-decoration: none;
    color: white;
}


.createbtn:hover{
    background-color: #ff5858;
    cursor: pointer;
}